html, body{
    max-width: 100%;
    overflow-x: hidden;
}


.carousel-inner>.item>img{
    height: 40em;
    width: 100%;
}

#carousel-example-generic{
    margin-bottom: 20px;
}

.panel{
   margin: 20px 0px;
}



/* text ispod thumbnail-a */
.caption p{
    text-align: justify;
    color: black;
}

.thumbnail{
    border: 1.5px solid #d01486;
    box-shadow: 6px 6px 10px grey;
    transition: scale 1s;
}

.thumbnail:hover{
    transform: scale(1.01,1.01);
}



.dugme-paragraf{
    text-align: center !important;
}

.btn{
    background-color: #d01486 !important;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 1px inset white !important; 
}

.btn:visited{
    background-color: #d01486 !important;
    border: 1px inset white !important;
}

.btn:hover{
    background-color: #8549a7 !important;
    border: 1px inset white !important;
}

.btn:active{
    background-color: #8549a7 !important;
    border: 1px inset white !important;
}



@media only screen and (max-width: 768px) {
    .carousel-inner>.item>img{
        height: 30em;
        width: 100%;
    }
    .thumbnail{
        width: 80%;
        margin: 5% auto;
    }
    .img-responsive {
        width: 100%;
    } 
    .caption p{
        font-size: 1.5em;
        text-align: center;
    }  
    #dugme-paragraf{
        text-align: center;

    }
    .btn{
        height: 3em;
        text-align: center;
        font-size: 0.7em !important;
        padding-top: 0.6em;
    }
}

/* LINK U NAV "Usluge" */
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover
{
    color: #d01486;
}

@media only screen and (max-width: 986px){
    .btn{
        font-size: 0.5em;
    }
}


